{% extends 'base.html' %}

{% block main %}
	<table id="pretty" class="table table-striped table-responsive table-bordered">
		<caption>Overview</caption>
		<tbody>
			<tr>
				<th>Vitórias</th>
				<th>Pilotos que já correram nessa escudeira</th>
				<th>Ano do primeiro registro</th>
				<th>Ano do último registro</th>
			</tr>
			<tr>
				<td>{{ wins }}</td>
				<td>{{ drivers_amount }}</td>
				<td>{{ first_reg_year }}</td>
				<td>{{ last_reg_year }}</td>
			</tr>
		</tbody>
	</table>

	<br><br><br><br>

	<table id="pretty" class="table table-striped table-responsive table-bordered">
		<caption>Consultar</caption>
		<tbody>
			<tr>
				<td>
					<form action="/" method="post">
						<label for="forename">Nome do Piloto</label><br><br>
						<input type="text" name="forename" value="{{ request.form.forename }}">
						<input class="btn btn-default" type="submit" value="Consultar">
					</form>
				</td>
			</tr>
		</tbody>
	</table>

	{% if message %}
		<br><br>
		<p><strong>{{ message }}</strong>
	{% endif %}

	{% if results %}
		<br><br>
		<table id="pretty" class="table table-striped table-responsive table-bordered">
			<tbody>
				<tr>
					<th>Nome Completo</th>
					<th>Data de Nascimento</th>
					<th>Nacionalidade</th>
				</tr>
				<tr>
					<td>{{ results['forename'] }} {{ results['surname'] }}</td>
					<td>{{ results['dateofbirth'] }}</td>
					<td>{{ results['nationality'] }}</td>
				</tr>
			</tbody>
		</table>
	{% endif %}

	<br><br><br><br>

	<table id="pretty" class="table table-striped table-responsive table-bordered">
		<caption>Relatórios</caption>
		<tbody>
			<tr><td><a href="/?relatorio=3&ordem=alfabetica"><button type="button">Listagem de pilotos (em ordem alfabética)</a></td></tr>
			<tr><td><a href="/?relatorio=3&ordem=vitorias"><button type="button">Listagem de pilotos (ordernado pela quantidade de vitórias)</a></td></tr>
			<tr><td><a href="/?relatorio=4"><button type="button">Quantidade de resultados por cada status</a></td></tr>
		</tbody>
	</table>

	{% if fields and rows %}
		<br><br>
		<table id="pretty" class="table table-striped table-responsive table-bordered">
			<caption>{{ table_title }}</caption>
			<thead>
					<tr>
						{% for field in fields %}
							<th>{{ field }}</th>
						{% endfor %}
					</tr>
				</thead>

				<tbody>
					{% for row in rows %}
						<tr>
							{% for value in row %}
								<td>{{ value }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
		</table>
		<br><br><br><br>
	{% endif %}
{% endblock %}
