{% extends 'base.html' %}

{% block main %}
	<table id="pretty" class="table table-striped table-responsive table-bordered">
		<caption>Overview</caption>
		<tbody>
			<tr>
				<th>Pilotos Cadastrados</th>
				<th>Escuderias Cadastradas</th>
				<th>Corridas Cadastradas</th>
				<th>Temporadas Cadastradas</th>
			</tr>
			<tr>
				<td>{{ driver_amount }}</td>
				<td>{{ constructors_amount }}</td>
				<td>{{ races_amount }}</td>
				<td>{{ seasons_amount }}</td>
			</tr>
		</tbody>
	</table>

	<br><br><br><br>

	<table id="pretty" class="table table-striped table-responsive table-bordered">
		<caption>Cadastrar</caption>
		<tbody>
			<tr>
				<td><a href="/cadastrar/escuderia"><button type="button">Escuderia</a></td>
				<td><a href="/cadastrar/piloto"><button type="button">Piloto</a></td>
			</tr>
		</tbody>
	</table>

	<br><br><br><br>

	<table id="pretty" class="table table-striped table-responsive table-bordered">
		<caption>Relatórios</caption>
		<tbody>
			<tr>
				<td><a href="/relatorio?id=1"><button type="button">1</a></td>
				<td><a href="/relatorio?id=2"><button type="button">2</a></td>
			</tr>
		</tbody>
	</table>
{% endblock %}
